﻿@model CustomerOrderProj.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<div style="font-family:Arial">
<h2>Order Details</h2>
    <table>
        <tr>
            <td>
                <b>Order ID:</b>
            </td>
            <td>
                @Model.OrderID
            </td>
        </tr>
        <tr>
            <td>
                <b>Order Name:</b>
            </td>
            <td>
                @Model.OrderName
            </td>
        </tr><tr>
            <td>
                <b>Order Date:</b>
            </td>
            <td>
                @Model.Date
            </td>
        </tr><tr>
            <td>
                <b>Customer ID:</b>
            </td>
            <td>
                @Model.CustomerID
            </td>
        </tr>
    </table>
    @Html.ActionLink("Back to List", "Index", new {customerID = @Model.CustomerID})
    </div>
