﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="font-family:Verdana">
    <p>
    @Html.ActionLink("List of Customers", "Index", "Customer")
        </p>
    <p>
    @Html.ActionLink("List of Orders", "Index", "Order")
        </p>
    </div>
